    <!--This is the first background and the remaining objects-->
        <div class="img_1"></div>
        <!--This is our bell's picture-->
    </div>
    <div class="bk_blank title_1">
<!--This is the first white bar-->
    </div>
    <div class="bk bk_1">
    <!-- This is the second background along with the remaining pictures-->
        <div class="img_2"></div>
<!--This is our Polaroid camera picture-->
    </div>
      <div class="bk_blank title_2"></div>
<!--This is the second white bar-->